.nav{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.nav nav{
    box-shadow: none;
    transition: .2s ease-out;
}

.nav ul{
    margin-right: 2rem;
}

.nav ul li{
    color: white;
    cursor: pointer;
}

/* .nav ul li.login-signup{
    margin-right: 15px;
} */

.nav .nav-non-link{
    padding: 0 15px;
}

.nav-non-link:hover{
    border-bottom: 2px solid white;
    background-color: initial;
}

.nav ul li:hover{
    border-bottom: 2px solid white;
    background-color: initial;    
}

nav ul li a:hover{
    background: initial;
}

.left{
    margin-left: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}

.fa-airbnb{
    font-size: 3rem;
    color: #ff5252;
    font-weight: 700;
}

.left span{
    color: #ff5252;
    margin-left: .3rem;
    font-size: 1.5rem;
}

.right-space{
    margin-right: 1rem;
}

.fa-bars{
    display: none;
    cursor: pointer;
    position: absolute;
    right: 30px;
}

.fa-times{
    position: absolute;
    top: 0;
    right: 32px;
    cursor: pointer;
    display: none;
    z-index: 1;
}

.media{
    position: absolute;
    top: 0;
    right: -28px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
    color: #000;
    width: 40%;
    height: 100vh;
    border-left: 1px solid #ff5252;
    overflow: hidden;
}

.overlay{
    position: fixed;
    z-index: 100000000000; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: .01s ease-out;
}

.show{
    display: block;
    background-color: rgba(0,0,0,0.4);
    z-index: 10;
}

@media(max-width: 800px){
    nav ul{
        display: none;
        transition: 2s ease-out;
        z-index: 10000;
    }

    nav ul a{
        color: #000;
    }

    .nav ul li{
        color: #000;
    }

    nav ul a:hover{
        border-bottom: 1px solid #000;
    }

    .nav ul li:hover{
        border-bottom: 3px solid #000;
    }

    .fa-bars{
        display: block;
        z-index: 1000;
        color: #ff5252;
    }

    .fa-times{
        display: block;
        z-index: 1000;
        color: #ff5252;
    }
}

@media (max-width: 600px){
    .fa-bars,
    .fa-times{
        top: 16px;
    }

    .left{
        margin-top: .5rem;
    }

    .right-space {
        text-align: center;
        max-width: 150px;
        line-height: 1.9;
    }
}

@media (max-width: 500px){
    .media{
        width: 50%;
        z-index: 10000000000;
    }

    nav.right{
        position: absolute;
        top: 10px;
        padding: 2rem;
    }
}