a{
    color: #000;
}

.activity img {
    border-style: none;
    width: 380px;
    height: 350px;
    object-fit: cover;
    border-radius: .5rem;
    position: relative;
    z-index: -1;
    max-width: 100%;
}

.wrapper{
    max-width: 1300px;
    margin: auto;
    width: 85%;
}

.main-container{
    padding-top: 3rem;
}

.activities-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 1rem;
}

.activities-wrapper {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 0.8rem;
    row-gap: 2rem;
    max-width: 1300px;
    margin: auto;
    width: 87%;
}

.rating{
    display: flex;
    justify-content: left;
    align-items: center;
}

.rating i{
    font-size: 1.5rem;
}

@media (max-width: 800px){
    .activities-wrapper{
        grid-template-columns: repeat(2,1fr);
    }

    img{
        width: 340px;
    }
}

@media (max-width: 500px){
    /* .activities-wrapper{
        grid-template-columns: 1fr;
        gap: 1.3rem;
        width: 90%;
    } */

    h3{
        font-size: 1.7rem;
    }

    img{
        max-width: 85%;
        max-height: 200px;
    }

    .activity img{
        width: 370px;
    }

    /* .activity{
        width: 98%;
    } */

    .activities-wrapper{
        display: flex;
        gap: .5rem;
        overflow-x: auto;
        flex-wrap: nowrap;
    }

    .activities-wrapper::-webkit-scrollbar{
        display: none;
    }

    .activity{
        min-width: 85%;
    }
}

@media (max-width: 360px){
    .activity{
        width: 99%;
    }
}